<h1>My simulation</h1>

<h2>
    You are
</h2>
{{ simulation.lead.firstname }} {{ simulation.lead.lastname }} - {{ simulation.lead.email }} - {{ simulation.lead.phoneNumber }}<br>
{{simulation.lead.address}}

<h2>
    Your quote
</h2>

<strong>Deductible formula : {{createDto.quote.deductibleFormula}}</strong><br>
<strong>Coverage ceiling formula : {{createDto.quote.coverageCeilingFormula}}</strong><br>
<ul>
    <li>
        coverageCeiling: {{simulation.quote.coverageCeiling}}
    </li>
    <li>
        deductible: {{simulation.quote.deductible}}
    </li>
    <li>
        covers:
        <ul>
            {{#each simulation.quote.coverPremiums}}
                <li>{{@key}}: {{this}}</li>
            {{/each}}
        </ul>
    </li>
</ul>
{{ quote }}

<h2>
    Our advices
</h2>
<ul>
    {{#each simulation.advices}}
        <li>
            {{this.name}}
            <ul>
                <li>Recommended : {{this.advisedValue}}</li>
                <li>{{this.comment}}</li>
            </ul>
        </li>
    {{/each}}
</ul>

<a href="/">Redo simulation</a>
